.fancy {
    font-family: 'Kaushan Script', cursive;
    font-size: 22px;
}
.supa {
    font-family: 'Kaushan Script', cursive;
    font-size: 48px;
}
body {
    display:  flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}
.fancyier {
    font-family: 'Kaushan Script', cursive;
    font-size: 15px;
}
header{
    border-bottom: 5px solid black;
}
body{
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
 /* blog stuff*/

.blog-post-title {
    margin-bottom: 5px;
    font-size: 30px;
}

.blog-post-meta {
    margin-bottom: 5px;
    color: #999;
    font-style: italic;
}